
{include file="public/head_lv"}

{include file="public/head_lv_body"}

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wraps clearfix">
				<div class="aw-user-setting">
					<div class="tabbable">
						<ul class="nav nav-tabs aw-nav-tabs active">
							<li><a href="{:Url('downmember/verify')}">申请认证</a></li>
							<li><a href="{:Url('downmember/securityy')}">安全设置</a></li>
							<li><a href="{:Url('downmember/openid')}">账号绑定</a></li>
							<li><a href="{:Url('downmember/privacy')}">隐私/提醒</a></li>
							<li class="active"><a href="{:Url('downmember/dashang')}">打赏设置</a></li>
							<li><a href="{:Url('downmember/profile')}">基本资料</a></li>
							
							<h2><i class="icon icon-setting"></i> 用户设置</h2>
						</ul>
					</div>
					
					<div class="tab-content clearfix">
<!-- 基本信息 -->
<div class="aw-mod">
		<div class="mod-body">
		<div class="aw-mod row">
			<div class="mod-head">
				<h3>打赏设置</h3>
			</div>
			<form id="setting_form" method="post" action="" enctype="multipart/form-data">
			<div class="col-md-6">
				<dl>
					<dt class="pull-left">
					<img class="aw-border-radius-5" src="/static/alipayma.png?rand=195" width="120" height="120" alt="" id="avatar_srca" />
					</dt>
					<dd class="pull-left">
						<h5>支付宝收款码</h5>
						<p>支持 jpg、gif、png 等格式的图片 (二维码图片)</p>
						<a class="btn btn-mini btn-success" id="avatar_uploadera" href="javascript:;">上传二维码图片</a> 
                        <input type="file" class="form-control" name="lpic" value="{$downmember.lurl}" >
						<span id="avatar_uploading_statusa" class="hide"><i class="aw-loading"></i> 文件上传中...</span>
					</dd>
				</dl>
			</div>
				<!-- 上传头像 -->
				<div class="col-md-6">
					<dl>
						<dt class="pull-left">
						<img class="aw-border-radius-5" src="/static/wxpayma.png?rand=468" width="120" height="120" alt="" id="avatar_srcb" />
						</dt>
						<dd class="pull-left">
							<h5>微信收款码</h5>
							<p>支持 jpg、gif、png 等格式的图片 (二维码图片)</p>
							<a class="btn btn-mini btn-success" id="avatar_uploaderb" href="javascript:;">上传二维码图片</a> <span id="avatar_uploading_statusb" class="hide"><i class="aw-loading"></i> 文件上传中...</span>
						</dd>
					</dl>
				</div>
				<!-- end 上传头像 -->
		</div>
		<!-- end 基本信息 -->

		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    var fileUpload = new FileUpload('avatar', $('#avatar_uploadera'), $('#avatar_srca'), G_BASE_URL + '/account/ajax/avatar_upload_alipay/', {'loading_status' : '#avatar_uploading_statusa'});
    var fileUpload = new FileUpload('avatar', $('#avatar_uploaderb'), $('#avatar_srcb'), G_BASE_URL + '/account/ajax/avatar_upload_wxpay/', {'loading_status' : '#avatar_uploading_statusb'});
});
</script>

<script type="text/javascript" src="http://www.yirenji.com/static/js/app/setting.js"></script>

					</div>
				</div>
			</div>
		</div>
	</div>
</div><div class="SW_footer">
	<div class="ft layout clearfix hidden-xs">
		<div class="slogan"><a href="/"></a></div>
		<div class="ft_item">
			<h4 class="a1">关于我们</h4>
			<ul>
				<li><a href="http://www.yirenji.com/page/about" target="_blank">本站介绍</a></li>
				<li><a href="http://www.yirenji.com/page/lianxi" target="_blank" rel="nofollow">联系我们</a></li>
				<li><a href="http://www.yirenji.com/page/agree" target="_blank" rel="nofollow">用户协议</a></li>
				<li><a href="http://www.yirenji.com/feed/" target="_blank">内容订阅</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a2">站内导航</h4>
			<ul>
				<li><a href="http://www.yirenji.com/dashiji/">网站记事</a></li>
				<li><a href="http://www.yirenji.com/music/">听音乐</a></li>
				<li><a href="http://www.yirenji.com/pinglun/">赏牛评</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a3">合作赞助</h4>
			<ul>
				<li><a href="http://www.yirenji.com/page/zanzhu" target="_blank">空间赞助</a></li>
				<li><a href="http://www.yirenji.com/page/guanggao" target="_blank">广告支持</a></li>
				<li><a href="http://www.yirenji.com/account/register" target="_blank">伊人加入</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a4">常用链接</h4>
			<ul>
				<li><a href="http://www.wugebang.com" target="_blank">吾哥邦</a></li>
				<li><a href="http://www.lanhubao.com/topic" target="_blank">蓝狐宝社区</a></li>
				<li><a href="http://www.dou5.com" target="_blank">豆屋</a></li>
				<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1183648628&amp;site=qq&amp;menu=yes"><img border="0" src="http://www.yirenji.com/static/css/fox/img/ft_qq.png" alt="联系站长" title="联系站长"></a></li>
			</ul>
		</div>
		<div class="ft_item hidden-xs hidden-sm">
			<h4 class="a5">二维码</h4>
			<a href="http://www.yirenji.com/" target="_blank"><img src="http://www.yirenji.com/static/css/fox/img/QR.png" width="100" height="100" alt="手机访问"></a>
		</div>
	</div>
	<div class="cp">Copyright © 2018, All Rights Reserved</span> 伊人社区   技术支持：<a target="_blank" title="快网工作室" href="http://www.kuaiwww.com">快网</a>   <a href="http://www.chengenghua.com/" target="_blank" title="陈庚华律师">法律顾问：陈庚华律师</a>   鸣谢：<a href="http://www.wecenter.com/" target="_blank" title="WC">WC</a></div>
</div>

<a href="javascript:;" id="gotoTop" class="show hidden-xs"><i></i></a>
<!-- <a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>-->


<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box hidden-xs"></div>
<script type="text/javascript" language="javascript"> var Default_isFT = 0 </script>
<SCRIPT language=Javascript src="http://www.yirenji.com/static/js/fox_language.js"></SCRIPT> 
<div style="display:none;" id="__crond">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/?/crond/run/1542876591%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
		});
	</script>
</div>
<!-- / DO NOT REMOVE -->


</body>
</html>
