
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$data.softname}-尽在源码天堂!</title>
<meta name="keywords" content="{$data.keyboard}" />
<meta name="description" content="{$data.description}" />
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" charset="width=device-width,initial-scale=1">
<link href="__ARTICLE__/css/css.css" rel="stylesheet">
<script src="__ARTICLE__/js/jquery.js" type="text/javascript"></script>
<script src="__ARTICLE__/js/js.js" type="text/javascript"></script>
</head>
<body>
<!-- 头部开始 -->
{include file="common/header1" /}
<!-- 头部结束 -->
<div class="cl" id="header"></div>
    <div class="box_1162 overflowh" id="header">
      <div class="place">
        <strong>当前位置：</strong><a href=''>网站首页</a> > <a href='/sc/'>站长素材</a> > <a href='/sc/133_1.html'>网页模板</a> > <a href='/sc/261_1.html'>公司企业</a> > 黑色品牌设计官网网站模板</div>
      <div class="clearfix mt10">
        <div class="middle">
          <div class="wlimit">
            <div class="m-l">
              <div class="w900 float_l">
                <div class="box">
                  <div class="help">
                    <div class="title-con">
                             <div class="w900 float_l">
                      <h1>{$data.softname}</h1>
                        <em class="keep-btn" id="stows"></em>
                                 </div>
                      <span>
                        <i class="view" id="hits">
                          <script src="https://www.80zhan.com/core/count.php?view=yes&aid=9226&mid=1" type='text/javascript' language="javascript"></script>
                        </i>
                        <i class="down" id="xiazai">
                          <script src="https://www.80zhan.com/core/disdls.php?aid=9226" language="javascript"></script>
                        </i>
                        <i class="collection" id="favorite">
                          <script src="https://www.80zhan.com/core/stowsc.php?aid=9226" language="javascript"></script>
                        </i>
                        <i class="time">2019-05-07</i></span>
                    </div>
                    <div class="video">
                      <div class="plug_description">
                        <b>模板详情：</b>
                        <div class="content">{$data.softsay}</div></div>
                    </div>
                    <!--模板效果图-->
                    <div class="demobox" style="display:none; ">
                      <div class="demotit">模板图集</div>
                      <div class="demotit float_r">
                      </div>
                      <div id="gallery">
                        <ul></ul>
                        <div class="cl">
                          <a class="d-mo" rel="9226"></a>
                        </div>
                      </div>
                    </div>
                    <!--模板效果图-->
                    <div class="works_tags clearfix">
                      <span class="moretag">模板标签：</span>
                      <p class="intro_a">
                        <a href="/tag/2322_1.html" class="item">黑色</a>
                        <a href="/tag/2316_1.html" class="item">HTML5</a>
                        <a href="/tag/4197_1.html" class="item">官网</a>
                        <a href="/tag/7521_1.html" class="item">品牌设计</a></p></div>
                      <div class="article-nav">
                  <ul>
                    <li class="float_l">上一篇：<a href='/sc/9225.html'>手机软件UI设计网站模板_站长素材</a> </li>
                    <li class="float_r">下一篇：没有了 </li></ul>
                </div>
                  </div>
                </div>
              </div>
                   <div class="w900 float_l">
                <div class="speek clearfix">
                      <span>特别说明：</span><p>
    推荐使用第三方专业下载工具下载本站资源，使用 WinRAR v3.10 以上版本解压本站资源。<br />
    80站长网所有软件，源码，素材，等资源均来自网友上传，或网络收集，如果有侵犯版权请及时联系我们，我们会在第一时间处理。<br />
    如果该资源不能下载，请联系本站在线客服报错，谢谢合作!!<br />
    下载本站资源，如果服务器暂不能下载请过一段时间重试！<br />
    本站提供的一些商业源码，软件，等资源仅供学习研究之用，如用于商业用途，请购买正版。<br />
    如需大量转载本站内容；请联系本站站长，少量转载本站内容请注明出处，谢谢合作。</p>
</div></div>
              <div class="w900 float_l">
                <div class="w900">
                  <div class="boxTitle">
                    <p class="padding_lr15 clearfix">
                      <strong class="font_s20 float_l color_ce380a boxTitle-new boxTitle-new-y">相关模板</strong></p>
                  </div>
                  <div class="fesucaibox margin_t20">
                    <ul>
                      <li style="display:block;">
                        <div class="fescfl">
                          <dl><dd>
                              <div class="fescpics">
                                <a href="/sc/8649.html" title="宽屏工业设计公司官网模板">
                                  <img src="/uploads/allimg/190325/1-1Z3250912250-L.jpg" alt="宽屏工业设计公司官网模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/8649.html" title="宽屏工业设计公司官网模板">宽屏工业设计公司官网模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2019-03-25</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>
<dd>
                              <div class="fescpics">
                                <a href="/sc/5983.html" title="紫色活动演出专题网页模板">
                                  <img src="/uploads/allimg/180914/1-1P9141459270-L.png" alt="紫色活动演出专题网页模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/5983.html" title="紫色活动演出专题网页模板">紫色活动演出专题网页模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2018-09-14</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>
<dd>
                              <div class="fescpics">
                                <a href="/sc/6536.html" title="图片广告设计公司网站模板">
                                  <img src="/uploads/allimg/181015/1-1Q0152331590-L.jpg" alt="图片广告设计公司网站模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/6536.html" title="图片广告设计公司网站模板">图片广告设计公司网站模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2018-10-15</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>
<dd>
                              <div class="fescpics">
                                <a href="/sc/6209.html" title="证券咨询服务机构网站模板">
                                  <img src="/uploads/allimg/180926/1-1P9262139400-L.png" alt="证券咨询服务机构网站模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/6209.html" title="证券咨询服务机构网站模板">证券咨询服务机构网站模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2018-09-26</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>
<dd>
                              <div class="fescpics">
                                <a href="/sc/6388.html" title="大型机械设备公司网站模板">
                                  <img src="/uploads/allimg/181010/1-1Q0101129320-L.jpg" alt="大型机械设备公司网站模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/6388.html" title="大型机械设备公司网站模板">大型机械设备公司网站模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2018-10-10</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>
<dd>
                              <div class="fescpics">
                                <a href="/sc/6459.html" title="保洁钟点工服务公司网站模板">
                                  <img src="/uploads/allimg/181012/1-1Q0120002010-L.jpg" alt="保洁钟点工服务公司网站模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/6459.html" title="保洁钟点工服务公司网站模板">保洁钟点工服务公司网站模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2018-10-12</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>
<dd>
                              <div class="fescpics">
                                <a href="/sc/5661.html" title="MOBILE手机响应式网站模板">
                                  <img src="/uploads/allimg/180814/1-1PQ41K4450-L.png" alt="MOBILE手机响应式网站模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/5661.html" title="MOBILE手机响应式网站模板">MOBILE手机响应式网站模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2018-08-14</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>
<dd>
                              <div class="fescpics">
                                <a href="/sc/6385.html" title="艺术写真摄影公司网站模板">
                                  <img src="/uploads/allimg/181010/1-1Q0101103410-L.jpg" alt="艺术写真摄影公司网站模板" width="258" /></a></div>
                              <div class="fescbm">
                                <div class="fescbmre">
                                  <h5>
                                    <a href="/sc/6385.html" title="艺术写真摄影公司网站模板">艺术写真摄影公司网站模板</a></h5>
                                  <p>
                                    <a target="_blank" href="/sc/261_1.html" title="公司企业">公司企业</a>
                                    <em>/</em>2018-10-10</p></div>
                                <div class="clear"></div>
                              </div>
                            </dd>

                            <div class="clear"></div></dl>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-r">
              <div class="piao">
                <div class="w378 float_r">
                  <div class="w378">
                    <div class="prodinfo">
                      <div class="information">
                        <div class="first">
                          <li class="left">模板信息</li>
                          <li class="right">
                            <span class='source_org1'>免费资源</span></li></div>
                        <dd>
                          <div class="rec">所需积分：
                            <em id="readpoint">0
                              <em>积分</em></em></div>
                          <div class="right vip"></div>
                        </dd>
                        <dd>下载权限：<font color="#1abd9b">无等级限制</font></dd>
                        <dd>模板作者：不详</dd>
                        <dd>模板大小：6.07 MB</dd>
                        <dd>运行环境：HTML</dd>
                        <dd>素材授权：免费素材</dd>
                        <dd>
                          <div class="rec">推荐等级：</div>
                          <div class="rate-bar">
                            <div class="xxx"></div>
                          </div>
                        </dd>
                      </div>
                      <div class="pro_btns">
                        <a data-pop="pop-dows" class="down" title="下载黑色品牌设计官网网站模板">点击下载</a>
                        <a href=/demo/demo.php?aid=9226 target='_blank'>查看演示</a></div></div>
                  </div>
                  <div class="w378 float_r tabTitleBar mt10 bgf borderTred clearfix">
                    <div class="borderTnone YaHei">
                      <h4>模板分类</h4>
                      <ul class="catalog catalogA">
                        <li>
                          <a title='HTML5模板' href='/sc/134_1.html'>HTML5模板</a></li>
                        <li>
                          <a title='医疗保健' href='/sc/139_1.html'>医疗保健</a></li>
                        <li>
                          <a title='电子产品' href='/sc/144_1.html'>电子产品</a></li>
                        <li>
                          <a title='电子商务' href='/sc/145_1.html'>电子商务</a></li><li> <a title='公司企业' href='/sc/261_1.html' class='thisclass'>公司企业</a></li>
                        <li>
                          <a title='婚纱模板' href='/sc/258_1.html'>婚纱模板</a></li></ul>
                    </div>
                  </div>
                  <div class="w378 float_r mt10">
                            <a href="https://www.60zhan.com/" target="_blank"><img src="/images/0.gif" border="0"></a>
                  </div>
                  <div class="w378 float_r">
                    <div class="ablock clearfix mt10 mb10">
                      <h3>热门标签</h3>
                      <div class="keylist">
                        <ul>
                          <a href="" style="font-size:13pt;color:#be885b">IOS</a>
</ul></div>
                    </div>
                  </div>
                </div>
                <div class="mould4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   {include file="common/footer" /}
<div id="liuyan" class="popupbox">
  <div class="popupbox-header"> <span id="fmsgtitle"></span> <a class="popup-close">&times;</a> </div>
  <div class="popupbox-content">
    <div class="popdows popbox-cont-t" id="liuyancont"></div>
  </div>
</div>
<script type="text/javascript" src="/style/js/functions.min.js"></script> 
    <div id="pop-dows" class="popupbox">
      <div class="popupbox-header">
        <span id="dmsgtitle"></span>
        <a class="popup-close">&times;</a></div>
      <div class="popupbox-content">
        <div class="popdows" id="dowmsg"></div>
        <div id="popsub"></div>
      </div>
    </div><script src='/common/sucaidows.php?aid=9226&wid=1' language='javascript'></script>
    <div class="clear"></div>
  </body>
</html>