<div class="info top5 clear">
    <div class="l sm">				郑重申明：本站所内容均为网络上收集整理，网友上传，并且以计算机技术研究交流为目的，仅供大家参考、学习，不存在任何商业目的与商业用途。若您需要使用非免费的软件或服务，您应当购买正版授权并合法使用。<br/>我们不承担任何技术及版权问题，且不对任何资源负法律责任。如果有那些资源侵犯你的版权，请及时联系我们，我们将立即对此文件删除！
    </div>
    <div class="r smr">
        <div></div>
        Copyright &copy; 2007-2013 Corporation<br/>662p开源网版权所有   <a style="color:#666666;" href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备12089784号</a>
        <br/>
        <!--客户端下载：<a href="http://zl.hwpan.com/u3875317/app%2F%E6%BA%90%E7%A0%81%E5%A4%A9%E5%A0%82%E5%AE%89%E5%8D%93%E5%AE%A2%E6%88%B7%E7%AB%AFcode_662p_com.apk" target="_blank"><img border="0" alt="源码天堂安卓客户端" src=""/></a>&nbsp;&nbsp; <a href="http://zl.hwpan.com/u3875317/app%2F%E6%BA%90%E7%A0%81%E5%A4%A9%E5%A0%82IOS%E5%AE%A2%E6%88%B7%E7%AB%AFcode_662p_com.ipa" target="_blank"><img border="0" alt="源码天堂IOS客户端" src="http://ios.662p.com/static/image/common/forum_new.gif"/></a>-->
    </div>
</div>
