
<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="renderer" content="webkit" />
<title>{$articles.title}-你我的社区</title>
<meta name="keywords" content="伊人集,伊人网,伊人在线,伊人,伊人故事,伊人情感,伊人图片,心情随笔,伊人社区" />
<meta name="description" content="伊人集是一个允许匿名的故事分享、心灵交流、情感倾诉、互动探索的社区，在这里可以倾吐自己的心声，倾听别人的故事，一起感悟与成长。伊人云集的美丽角落，您可以向陌生人说出自己的心里话。"  />
<link rel="stylesheet" type="text/css" href="__INDEX__/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__INDEX__/css/icon.css" />
<link href="__INDEX__/css/common.css" rel="stylesheet" type="text/css" />
<link href="__INDEX__/css/link.css" rel="stylesheet" type="text/css" />
<link href="__INDEX__/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__INDEX__/css/fox.css" />
<link href="__INDEX__/css/user-setting.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var _9B4A0F7DA87427224AF47023F4C92B20="E1F9C23B2286780D";
    var G_POST_HASH=_9B4A0F7DA87427224AF47023F4C92B20;
    var G_INDEX_SCRIPT = "";
    var G_SITE_NAME = "伊人集 --你我的社区";
    var G_BASE_URL = "http://www.yirenji.com";
    var G_STATIC_URL = "http://www.yirenji.com/static";
    var G_UPLOAD_URL = "http://www.yirenji.com/uploads";
    var G_USER_ID = "1408";
    var G_USER_NAME = "IT狂人";
    var G_UPLOAD_ENABLE = "N";
    var G_UNREAD_NOTIFICATION = 0;
    var G_NOTIFICATION_INTERVAL = 100000;
    var G_CAN_CREATE_TOPIC = "";
    var G_INDEX_EDITOR = "0";
    var G_ADVANCED_EDITOR_ENABLE = "Y";
    G_USER_ID=G_USER_ID==''?'':parseInt(G_USER_ID);
    var G_FOX_QUESTION_WEN ="讨论"

    </script>

<script src="__INDEX__/js/jquery.2.js" type="text/javascript"></script>
<script src="__INDEX__/js/jquery.form.js" type="text/javascript"></script>
<script src="__INDEX__/js/plug-in_module.js" type="text/javascript"></script>
<script src="__INDEX__/js/jquery.easing.min.js" type="text/javascript"></script>
<script src="__INDEX__/js/aws.js" type="text/javascript"></script>
<script src="__INDEX__/js/aw_template.js" type="text/javascript"></script>
<script src="__INDEX__/js/app.js" type="text/javascript"></script>
<script src="__INDEX__/js/jquery.lazyload.js" type="text/javascript"></script>
<script src="__INDEX__/js/fileupload.js" type="text/javascript"></script>
<script type="text/javascript" src="__INDEX__/js/compatibility.js"></script>
<!--[if lte IE 8]>
    <script type="text/javascript" src="__INDEX__/js/respond.js"></script>
<![endif]-->

</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="__INDEX__/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>