.textArea {
    clear: both;
    padding: 5px 0 0;
}
#topimg {
    border: 1px solid #AACBEE;
    height: 64px;
    margin: 6px auto 0;
    padding-left: 8px;
    width: 960px;
}
#topimg img {
    margin-top: 2px;
    height: 60px;
    width: 235px;
}
.banner {
    margin: 8px 0 0;
}
#textadbox {
    border: 1px solid #BCD2E6;
    height: 92px;
    margin: 6px 0 0;
    width: 967px;
}
#textadbox ul {
    margin: 0;
    padding: 0;
}
#textadbox li {
    background: url("http://demo1.dedecms8.com/templets/newhua/style/../images/dot.gif") no-repeat scroll 9px center transparent;
    float: left;
    font-family: Verdana,ו;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 18px;
    text-align: left;
    width: 220px;
}