<div class="w968 border_color top5 clear">
    <div align="left">
        <strong>合作伙伴</strong>：&nbsp;&nbsp; 百度&nbsp;&nbsp; &nbsp;&nbsp;安全联盟&nbsp;&nbsp; 662p开源网   &nbsp;&nbsp;&nbsp;&nbsp; 安卓教程网 &nbsp;&nbsp;&nbsp;&nbsp; 加速乐 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 华为网盘  &nbsp;
        &nbsp;&nbsp;&nbsp; IOS教程网   &nbsp;&nbsp;&nbsp;&nbsp; 华云数据 &nbsp;&nbsp;&nbsp;&nbsp;讯天科技 &nbsp;&nbsp;&nbsp;&nbsp;易阳科技&nbsp;&nbsp;&nbsp;&nbsp;二度云&nbsp;&nbsp;&nbsp;&nbsp;西部数码&nbsp;&nbsp;&nbsp;&nbsp;绿茶科技<br />&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://java.662p.com/adv/code.png" border="0">&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://java.662p.com/adv/qcloud.png" border="0">&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://assets.qiniu.com/qiniu-black-97x51.png" border="0"></a></div>
</div>
