
<div id="header" class="w970">
    <div class="logo l w300"><a href="http://code.662p.com" title="源码天堂"></a></div>
    <div class="search r clear">
        <!--搜索一下-->
        <form action="/search" id="searchbox" method="get">
            <!--<input type="hidden" name="show" value="0" />-->
            <input type="text" name="keywords" size="24" class="focus" id="searchTextbox"  placeholder="请输入需要搜索的关键词" x-webkit-speech lang="zh-CN"  speech="" value=""/>
            <button type="submit" id="gm_act_sbtn">搜索一下</button>
        </form>
        <div class="hotwords top5 clear"><font color="#FF0000">源码天堂携各大教程网推出移动开发者联盟：<a href="http://android.662p.com/thread-4807-1-1.html"  target="_blank">安卓版</a>，<a href="http://ios.662p.com/thread-1305-1-1.html"  target="_blank">IOS版</a>，<a href="http://wp.662p.com/thread-8122-1-1.html"  target="_blank">window phone版</a>！</font><span id="hottags"></div>
    </div>

    <div class="nav top5">
        <div class= "menu_top">
            <!--<ul class="list_l">-->
                <!--{volist name="nav" id="foo"}-->
                    <!--<li><a href="/lists/{$foo.classid}.html">{$foo.classname}</a></li>-->
                <!--{/volist}-->
            <!--</ul>-->
            <ul class="list_l">
                <li><a href="/list/1">Asp源码</a></li>
                <li><a href="http://code.662p.com/list/2_1.html">.net源码</a></li>
                <li><a href="http://code.662p.com/list/4_1.html">php源码</a></li>
                <li><a href="http://code.662p.com/list/5_1.html">Jsp源码</a></li>
                <li><a href="http://code.662p.com/list/6_1.html">JS源码</a></li>
                <li><a href="http://code.662p.com/list/7_1.html">Flash源码</a></li>
                <li><a href="http://code.662p.com/list/8_1.html">Java源码</a></li>
                <li><a href="http://code.662p.com/list/9_1.html">VC/C++源码</a></li>
                <li><a href="http://code.662p.com/list/139_1.html">C#源码</a></li>
                <li><a href="http://code.662p.com/list/10_1.html">VB源码</a></li>
                <li><a href="http://code.662p.com/list/140_1.html">Delphi源码</a></li>
                <li><a href="http://code.662p.com/list/11_1.html">Android源码</a></li>
                <li><a href="http://code.662p.com/list/12_1.html">IOS源码</a></li>
                <li><a href="http://code.662p.com/list/14_1.html">WP源码</a></li>
                <li><a href="http://code.662p.com/list/13_1.html">HTML5源码</a></li>
            </ul>
        </div>
        <div class="menu_bottom">
            <!--<script charset="utf-8" type="text/javascript" src="/data/js/gg.js"></script>-->
        </div>
    </div>
</div>
