
<!--                 <div align="center"><a href="/EditInfo/">修改资料</a></div> -->
                <div align="center"><a href="/fava/">收藏夹</a></div>
                <div align="center"><a href="/cp/">我的点数</a></div>
                <div align="center"><a href="/buygroup/">在线充值</a></div>
<!--                 <div align="center"><a href="/buybak/">充值记录</a></div> -->
<!--                 <div align="center"><a href="/downbak/">消费记录</a></div> -->
                <div align="center"><a href="/login/">重新登陆</a></div>

                <div align="center"><a href="/AddSoft/index.php">发布源码</a></div>