<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <!-- Apple -->
  <meta name="apple-mobile-web-app-title" content="简书">

  

    <title>用户注册-662p开源网</title>

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="QQC8v2letjpcoXZ44+9LrHI0Ci5nRwrgjq6a/dJljmqlttcG/fvm1AR/C01uF8W3L4N6SsZxEm+tOjxxU/0v+w==" />

  <link rel="stylesheet" media="all" href="__INDEX__/jianshu/css/web-d8f364aa94534f48835a.css" />
  
  <link rel="stylesheet" media="all" href="__INDEX__/jianshu/css/entry-725103a0668ccb1789d4.css" />
  <link rel="stylesheet" href="/static/sweetalert/sweetalert2.css">
  <!--<link href="//cdn2.jianshu.io/assets/favicons/favicon-e743bfb1821442341c3ab15bdbe804f7ad97676bd07a770ccc9483473aa76f06.ico" rel="shortcut icon" type="image/x-icon">-->
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/57-a6f1f1ee62ace44f6dc2f6a08575abd3c3b163288881c78dd8d75247682a4b27.png" sizes="57x57" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/72-fb9834bcfce738fd7b9c5e31363e79443e09a81a8e931170b58bc815387c1562.png" sizes="72x72" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/76-49d88e539ff2489475d603994988d871219141ecaa0b1a7a9a1914f4fe3182d6.png" sizes="76x76" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/114-24252fe693524ed3a9d0905e49bff3cbd0228f25a320aa09053c2ebb4955de97.png" sizes="114x114" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/120-1bb7371f5e87f93ce780a5f1a05ff1b176828ee0d1d130e768575918a2e05834.png" sizes="120x120" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/152-bf209460fc1c17bfd3e2b84c8e758bc11ca3e570fd411c3bbd84149b97453b99.png" sizes="152x152" />

  <!-- Start of 访问统计 -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0c0e9d9b1e7d617b3e6842e85b9fb068";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <!-- End of 访问统计 -->
</head>

<body class="no-padding reader-black-font" lang="zh-CN">
  <div class="sign">
    <div class="logo"><a href="/"><img style="width: 180px;" src="/static/article/picture/logo.gif" alt="Logo" /></a></div>
    <div class="main">
      


<h4 class="title">
  <div class="normal-title">
    <a class="" href="/login">登录</a>
    <b>·</b>
    <a id="js-sign-up-btn" class="active" href="/register">注册</a>
  </div>
</h4>

  <div class="js-sign-up-container">
    <form class="new_user" onsubmit="return false;" id="new_user" action="/users/register" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="sfphOUYtZ+ew6iZD8LJlkE1P3MFU58uc4H5Yr6MRiOxVTAqA0og3Ceg0W3Z9SuuLEPispfXR0xPD6v4jIokpfQ==" />
      <div class="input-prepend restyle">
          <input placeholder="你的昵称" type="text" value="" name="user[nickname]" id="user_nickname" />
        <i class="iconfont ic-user"></i>
      </div>
        <div class="input-prepend restyle no-radius js-normal">
            <input placeholder="请输入邮箱" type="tel" name="email" id="user_mobile_number" />
          <i class="iconfont ic-email"></i>
        </div>
      <input type="hidden" name="oversea" id="oversea" value="false" />
      <input type="hidden" name="force_user_nonexist" id="force_user_nonexist" value="true" />
      <div class="input-prepend restyle no-radius security-up-code js-security-number">
          <input type="text" name="sms_code" id="sms_code" placeholder="邮箱验证码" />
        <i class="iconfont ic-email"></i>
        <a tabindex="-1" class="btn-up-resend js-send-code-button" onclick="TimeDown(this)" href="javascript:void(0);" id="send_code">发送验证码</a>
        <div class="js-geetest-captcha"></div>
      </div>
      <input type="hidden" name="security_number" id="security_number" />
      <div class="input-prepend">
        <input placeholder="设置密码" type="password" name="user[password]" id="user_password" />
        <i class="iconfont ic-password"></i>
      </div>
      <input type="submit" name="commit" onclick="submitForm()" value="注册" class="sign-up-button" id="sign_up_btn" data-disable-with="注册" />
      <p class="sign-up-msg">点击 “注册” 即表示您同意并愿意遵守简书<br> <a target="_blank" href="http://www.jianshu.com/p/c44d171298ce">用户协议</a> 和 <a target="_blank" href="http://www.jianshu.com/p/2ov8x3">隐私政策</a> 。</p>
</form>
    <!-- 更多注册方式 -->
    <div class="more-sign">
      <h6>社交帐号直接注册</h6>
      <ul>
  <li><a id="weixin" class="weixin" target="_blank" href="/users/auth/wechat"><i class="iconfont ic-wechat"></i></a></li>
  <li><a id="qq" class="qq" target="_blank" href="/users/auth/qq_connect"><i class="iconfont ic-qq_connect"></i></a></li>
</ul>

    </div>
  </div>

    </div>
  </div>

  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!--<script type="application/json" data-name="page-data">{"user_signed_in":false,"locale":"zh-CN","os":"other","read_mode":"day","read_font":"font2"}</script>-->
  <script src="/static/admin/style/jquery_002.js"></script>
  <script src="/static/sweetalert/sweetalert2.js"></script>
  <script src="__INDEX__/jianshu/js/web-base-e9640c28ac2f7e3854b5.js" crossorigin="anonymous"></script>
  <script>
    var time = 60;
    function TimeDown(obj){
      if(time==0){
        $(obj).removeClass('disable');
        $(obj).attr('disabled',false);
        $(obj).text('获取邮箱验证码');
        time = 60;
        return
      }else{
        $(obj).addClass('disable')
        $(obj).attr('disabled',true);
        $(obj).text('获取验证码'+time);
        time--;
      }
      setTimeout(function(){
        TimeDown(obj)
      },1000)
    }
    function submitForm(){
      // swal({
      //   title:"干得漂亮！",
      //   text:"你点击了按钮！",
      //   "success"
      // });
      return false;
      var formData = new FormData($('form')[0]); 
      $.ajax({
        url:"/register",
        data:formData,
        type:'post',
        processData:false,
        contentType:false,
        beforeSend:function () {

        }
      })
    }
  </script>
<!--<script src="__INDEX__/jianshu/js/web-83e0cace0fd06f8053b0.js" crossorigin="anonymous"></script>-->
<!--<script src="__INDEX__/jianshu/js/entry-c85727cb0650ace60509.js" crossorigin="anonymous"></script>-->
  <script>
  // (function(){
  //     var bp = document.createElement('script');
  //     var curProtocol = window.location.protocol.split(':')[0];
  //     if (curProtocol === 'https') {
  //         bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  //     }
  //     else {
  //         bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  //     }
  //     var s = document.getElementsByTagName("script")[0];
  //     s.parentNode.insertBefore(bp, s);
  // })();
</script>

</body>
</html>
