<link rel="stylesheet" href="/static/sweetalert/sweetalert2.css">

<script src="/static/sweetalert/sweetalert2.js"></script>

<style>



</style>

<div class="col-md-6">





    <!--<div class="list-group">-->

        <!--<a href="/" class="router-link-active list-group-item" target="_self">主页</a>-->

    <!--</div>-->



    <div class="list-group">



<!--         <a href="/set" class="list-group-item {eq name='lcurrent' value='1'}active{/eq}" target="_self">
            会员信息
        </a> -->
        <a href="#" class="list-group-item {eq name='lcurrent' value='1.5'}active{/eq}" target="_self">
            文章管理

        </a>

        <a href="/buygroup" class="list-group-item {eq name='lcurrent' value='1.2'}active{/eq}" target="_self">

            在线充值

        </a>

        <a href="/buybak" class="list-group-item {eq name='lcurrent' value='1.3'}active{/eq}" target="_self">

            充值记录

        </a>

        <a href="/downrecord" class="list-group-item {eq name='lcurrent' value='1.4'}active{/eq}" target="_self">

            消费记录

        </a>

        <!--<a href="/fava" class="list-group-item {eq name='lcurrent' value='1.4'}active{/eq}" target="_self">-->

            <!--我的收藏-->

        <!--</a>-->

        <!--<a href="/notice" class="list-group-item {eq name='lcurrent' value='2'}active{/eq}" target="_self">通知和私信</a>-->

        <!-- <a href="/myset" class="list-group-item {eq name='lcurrent' value='3'}active{/eq}" target="_self">我的设置</a> -->

        <!--<a href="/apply" class="list-group-item {eq name='lcurrent' value='4'}active{/eq}" target="_self">申请认证</a>-->

        

        <!-- <a href="/setpwd" class="list-group-item {eq name='lcurrent' value='5'}active{/eq}" target="_self">修改密码</a> -->

        <a href="/setemail" class="list-group-item {eq name='lcurrent' value='6'}active{/eq}" target="_self">修改邮箱</a>

        <a href="/setmobile" class="list-group-item {eq name='lcurrent' value='7'}active{/eq}" target="_self">修改手机号</a>


        <!--<a href="/setavator" class="list-group-item {eq name='lcurrent' value='8'}active{/eq}" target="_self">修改头像</a>-->



    </div>

</div>

<script>

    $('.js-nav').hover(function(){

        $('.sub-nav-list').slideDown()

    },function(){

        $('.sub-nav-list').slideUp()

    })

</script>