<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="qc:admins" content="0142117214566620637571645060454" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="baidu-tc-cerfication" content="2ce92d206494f47edb5638cd2a923e25" />
    <title>{$letter}-免费源码-源代码下载-高仿源码下载-尽在源码天堂!</title>
    <meta name="keywords" content="{$letter}" />
    <meta name="description" content="{letter}" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" type="image/gif" />
    <link href="/skin/blue2013/css/download.css" rel="stylesheet" type="text/css" />
    <link href="__INDEX__/skin/blue2013/css/download.css" rel="stylesheet" type="text/css" />
    <link href="__INDEX__/skin/blue2013/css/page.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/skin/blue2013/js/jquery-1.4.2.min.js"></script>
    <script src="http://dup.baidustatic.com/js/ds.js"></script>
</head>
<body>
<!--整体-->

<!--顶部 start-->
{include file="common/top" /}
<!--顶部 end-->

<!--body start-->
<div id="wrap" class="w970 clear">

    <!--头部 start-->
    {include file="common/header" /}
    <!--头部 end-->
    <div class="w970 clear" id="soft_nav_ad"><!-- 广告位：pc_code_list_head96090A -->
        <script>
            (function() {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup=window.slotbydup || []).push({
                    id: '2013873',
                    container: s,
                    size: '960,90',
                    display: 'inlay-fix'
                });
            })();
        </script></div>
    <div class="w970 clear" id="soft_nav_ad"><!-- 广告位：pc_code_list_head96090B -->
        <script>
            (function() {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup=window.slotbydup || []).push({
                    id: '2013875',
                    container: s,
                    size: '960,90',
                    display: 'inlay-fix'
                });
            })();
        </script></div>
    <div class="w970 clear" id="soft_nav_ad"><!-- 广告位：pc_code_list_head96090C -->
        <script>
            (function() {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup=window.slotbydup || []).push({
                    id: '2013877',
                    container: s,
                    size: '960,90',
                    display: 'inlay-fix'
                });
            })();
        </script></div>
    <div class="w970 clear" id="soft_nav_ad"><!-- 广告位：pc_code_list_head96090D -->
        <script>
            (function() {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup=window.slotbydup || []).push({
                    id: '2013879',
                    container: s,
                    size: '960,90',
                    display: 'inlay-fix'
                });
            })();
        </script></div>
    <div class="w970 clear" id="soft_nav_ad"><!-- 广告位：pc_code_list_head96090E -->
        <script>
            (function() {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup=window.slotbydup || []).push({
                    id: '2013881',
                    container: s,
                    size: '960,90',
                    display: 'inlay-fix'
                });
            })();
        </script></div>
    <!--菜单下广告 end-->

    <div class="dangqian">您的位置: <!--empire.url--><a href="/">首页</a>&nbsp;>&nbsp;<a href="/list/{$data.classid}.html">{$letter}</a><!--empire.url--></div>
    <div class="l top5 clear">
        <div class="box_3" style="width:251px;">
            <div class="updatetitle"><div class="new"><a href="" >下载分类</a></div></div>
            <ul class="class_list clear">
                <!--<script src='/data/js/class_1.js'></script>-->
                {volist name="childCate" id="foo"}
                <li><a href="/list/{$foo.classid}.html" class="current">{$foo.classname}</a></li>
                {/volist}
            </ul>
        </div>
        <div class="box_3 top5" style="width:251px;"><!-- 广告位：pc_code_list_right250250A -->
            <script>
                (function() {
                    var s = "_" + Math.random().toString(36).slice(2);
                    document.write('<div id="' + s + '"></div>');
                    (window.slotbydup=window.slotbydup || []).push({
                        id: '2013883',
                        container: s,
                        size: '250,250',
                        display: 'inlay-fix'
                    });
                })();
            </script></div>
        <div class="box_3 top5" style="width:251px;">
            <div class="list_top10"><div class="current">最新下载</div></div>
            <div class="softtop10_list">
                <ul class="index_soft_list">
                    {volist name="latest" id="foo"}
                    <li>
                        <a href="/list/{$foo.softid}.html" target="_blank" rel="noreferrer">{$foo.softname}</a>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div id="sidebar-float-ad">
            <div class="box_3 top5" style="width:251px;"><!-- 广告位：pc_code_list_right250250B -->
                <script>
                    (function() {
                        var s = "_" + Math.random().toString(36).slice(2);
                        document.write('<div id="' + s + '"></div>');
                        (window.slotbydup=window.slotbydup || []).push({
                            id: '2013885',
                            container: s,
                            size: '250,250',
                            display: 'inlay-fix'
                        });
                    })();
                </script></div>
            <div class="box_3 top5" style="width:251px;">
                <div class="list_top10"><div class="current">热门下载</div></div>
                <div class="softtop10_list">
                    <ul class="index_soft_list">
                        {volist name="hotCate" id="foo"}
                        <li>
                            <a href="/view/{$foo.softid}.html" target="_blank" rel="noreferrer">
                                {$foo.softname}
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/right-->
    <div class="l left5 clear main_softlist">
        <div class="box_2 top5 bg_2 clear" style="width:650px;height:auto;">
            <div class="updatetitle"><em class="list_class_title">{$letter}</em></div>
            <div class="soft_list_ad"><!-- 广告位：pc_code_list_cont64090A -->
                <script>
                    (function() {
                        var s = "_" + Math.random().toString(36).slice(2);
                        document.write('<div id="' + s + '"></div>');
                        (window.slotbydup=window.slotbydup || []).push({
                            id: '2013887',
                            container: s,
                            size: '640,90',
                            display: 'inlay-fix'
                        });
                    })();
                </script></div>
            <ul class="soft_list">
                {volist name="soft" id="foo"}
                <li>
                    <div class="tit_money gray"><h4><a href="/view/{$foo.softid}.html" class="list-a">{$foo.softname}{$foo.soft_version}</a></h4>
                        <span class="star_container"><img src='/data/images/3star.gif'></span>
                    </div>
                    <div class="softsay"><table  width="100%" border="0" cellspacing="2" cellpadding="0">
                        <tr>
                            <td width="17%"><a href="/view/{$foo.softid}.html" /><img width="100px" height="100px" src="{$foo.softpic}" alt="云服务器代理程序" height="100px" width="100px"  border="0px"   /></a></td> <td width="83%">【IDC源码】云服务器代理程序，主机空间代理程序，开源，免费升级，免费使用<br />
                            <br />
                            <p style="margin-left: 24px;">{$foo.softsay|mb_substr=0,120,'utf-8'}</p></td>
                        </tr>

                    </table><br/><div>
                        <div class="ban_date gray"><span class="ban_left">         <span class="gray">          </span></span>&nbsp;<span class="ban_left">运行环境：<span class="gray">{$foo.soft_fj}</span></span>&nbsp;
                            <span class="ban_left">软件大小：<span class="gray">{$foo.filesize}</span></span>&nbsp;
                            <span class="date">更新日期：{$foo.softtime|date="Y-m-d",###}</span> </div>
                </li>
                {/volist}
            </ul>

        </div>
        <div class="soft_list_ad"><!-- 广告位：pc_code_list_cont64090B -->
            <script>
                (function() {
                    var s = "_" + Math.random().toString(36).slice(2);
                    document.write('<div id="' + s + '"></div>');
                    (window.slotbydup=window.slotbydup || []).push({
                        id: '2013889',
                        container: s,
                        size: '640,90',
                        display: 'inlay-fix'
                    });
                })();
            </script></div>
        <div class="box_2 top5 pages clear">
            {$soft->render()}
        </div>
    </div>

    <div class="w970 clear" id="soft_nav_ad"><script>QIHOO_UNION_SLOT={w:960, h:90, ls:"s764ba5de84"};</script><script src="http://s.lianmeng.360.cn/so/inlay.js" charset="utf-8"></script></div>

    <div class="w970 clear" id="soft_nav_ad"><!-- 广告位：pc_code_list_foot96090 -->
        <script>
            (function() {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup=window.slotbydup || []).push({
                    id: '2013892',
                    container: s,
                    size: '960,90',
                    display: 'inlay-fix'
                });
            })();
        </script></div>
    <script type="text/javascript">
        $("#menu1").addClass('current');
        $("#submenu a").mouseover(function(){
            for (i = 1; i < 5; i++) {
                var str=".menu"+i;
                $(str).hide();
            }
            $('#submenu a').removeClass('current');
            $(this).addClass('current');
            var id=$(this).attr("id");
            var menu="."+id;
            $(menu).show();
        })
        $(".menu1").show();
        $(".news").hide();
        $(".new_title div").mouseover(function(){
            $('.new_title div').removeClass('new');
            $(this).addClass('new');
            $(".soft").hide();
            $(".news").hide();
            $(this).show();
            var id=$(this).attr("id");
            var menu="."+id;
            $(menu).show();
        })
    </script>

    {include file="common/footerOne" /}
    {include file="common/footerTwo" /}
</div>
<!--body end-->

<script type="text/javascript">
    function AutoScroll(obj){
        $(obj).find("ul:first").animate({
            marginTop:"-25px"
        },500,function(){
            $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
        });
    }
    $(document).ready(function(){
        setInterval('AutoScroll("#scrollDiv")',3000);
    });
</script>

<!-- gotop#polaris -->
<a href="javascript:void(0);" onClick="window.scrollTo(0,0);" class="gotop_btn" id="goTopButton" style="display:none;">&nbsp;</a>
<script type="text/javascript">
    (function($){
        $(window).scroll(function(event){
            if($(this).scrollTop() > 0){
                if($.browser.ie6){
                    $('#goTopButton').css('top', $(this).scrollTop() + $(this).height() - 170);
                }
                if($('#goTopButton').css('display') == 'none'){
                    $('#goTopButton').fadeIn();
                }
            }else{
                $('#goTopButton').fadeOut();
            }
        });
    })(jQuery);
</script>
<!-- gotop#polaris -->
<div style="display:none;">
</div>
<script src="/ViewClick?softid=[!--softid--]&all=1&month=1&week=1&day=1"></script>
<!-- Baidu Button start -->
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6435355" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    var bds_config={"snsKey":{'tsina':'3024734324','tqq':'801378648','t163':'9aex68YqMlZMgyoZ','tsohu':'c20e9076297f49f5'}}
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->
<!--baidu tongji-->

<!--soso tongji-->
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=21781729" charset="UTF-8"></script>
<script src="http://www.anquan.org/static/outer/js/anquan_authen_83x30.js"></script>

<!-- QQ客服 BEGIN -->
<div id="online_qq_layer">
    <div id="online_qq_tab">
        <div class="online_icon">
            <a href="javascript:void(0);" style="display:block" id="floatShow" title=""></a>
        </div>
    </div>
    <!--<div id="onlineService">-->
    <!--<div class="online_windows overz">-->
    <!--<div class="online_w_top">在线咨询</div>-->
    <!--<div class="overz">-->
    <!--<div class="online_style1">-->
    <!--<div id="qq_affiliate" class="qq_bar qq_online overz">-->
    <!--<h2>网站建设服务</h2>-->
    <!--<a target="_blank" class="qq_icon" href="http://wpa.qq.com/msgrd?v=3&uin=858236016&menu=yes"></a><br />-->
    <!--<a target="_blank" class="qq_icon" href="http://wpa.qq.com/msgrd?v=3&uin=2360248666&menu=yes"></a>-->
    <!--</div>-->
    <!--<div id="qq_affiliate" class="qq_bar qq_online overz">-->
    <!--<h2>充值服务</h2>-->
    <!--<a target="_blank" class="qq_icon" href="http://wpa.qq.com/msgrd?v=3&uin=1336948921&menu=yes"></a><br />-->
    <!--<a target="_blank" class="qq_icon" href="http://wpa.qq.com/msgrd?v=3&uin=858236016&menu=yes"></a>-->
    <!--</div>-->
    <!--<div id="qq_advertiser" class="qq_bar qq_online overz">-->
    <!--<h2>广告投放</h2>-->
    <!--<a target="_blank" class="qq_icon" href="http://wpa.qq.com/msgrd?v=3&uin=858236016&menu=yes"></a>-->
    <!--</div>-->
    <!--<div id="qq_4x24" class="qq_bar qq_online overz">-->
    <!--<h2>其他服务</h2>-->
    <!--<a target="_blank" class="qq_icon" href="http://wpa.qq.com/msgrd?v=3&uin=858236016&menu=yes"></a>-->
    <!--</div>-->
    <!--<div class="qq_bar overz">-->
    <!--<div class="qq_tel overz">客服热线：9：00-18：00</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="online_w_bottom"></div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<script language="JavaScript" type="text/javascript" src="http://code.662p.com/kefu/qqkf.js"></script>
<link href="http://code.662p.com/kefu/qqkf.css" type=text/css rel=stylesheet>

<!-- QQ客服 END -->

<script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>